.header{
  background-color: $color4;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  position: relative;
  h1{
    color: $color1;
    font-size: 1em;
    display: inline-block;
  }
  .btn-logout{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: $color1;
    text-decoration: none;
    color: $color4;
  }
}