/* Containers */

$external-container: 1300px;
$internal-container: 1024px;

/* Responsive Sizes */

$small: 480px;
$medium: 800px;
$moreMedium: 1024px;

/* Colors RGB */

$color1: #ffffff;
$color2: #f1f1f1;
$color3: rgba(18, 234, 234, 1);
$color4: rgba(66, 158, 166, 1);
$color5: rgba(21, 59, 80, 1);
$color6: #999999;